
<h1>
  Ember Radio Group
</h1>

{{#radio-group
  options=model
  groupId="radiogroup-1"
  checkedValue="value-2"
  changed=(action "changedEvent")
}}
  Radio Group Blocklabel
{{/radio-group}}

{{outlet}}
